body{
    margin: 0;
    padding: 0;
    text-align: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
input[type="number"]{
    -moz-appearance: textfield;
}
.block-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.main-container{
    width: calc(90% - 10px);
    padding: 5px;
}
.paths-wrapper{
    width: calc(80% - 20px);
    padding: 10px;
    font-family: "Bebas Neue",sans-serif;
    .paths-header{
        font-size: 1.4em;
        margin-bottom: 30px;
    }
    .paths{
        margin: 10px 0px;
        border-radius: 10px;
        background: rgba(255,255,255,.3);
        width: fit-content;
        padding: 5px 20px;
        width: calc(100% - 40px);
        .number-input{
            width: 50px;
            text-align: center;
            height: fit-content;
            padding: 10px;
            font-size: 1.4em;
            font-family: "Bebas Neue",sans-serif;
            border: none;
            border-bottom: 1px solid black;
            transition: all 0.4s;
            background: rgba(255,255,255,.8);
        }
        .first-input{
            margin-left: 10px;
        }
        .number-input:hover,.number-input:focus{
            filter: brightness(70%);
        }
        .number-input:focus{
            outline: none;
        }
    }
}
.getTheResultsBtn{
    width: calc(20% - 20px);
    padding: 10px;
    font-size: 1.5em;
    font-family: "Bebas Neue",sans-serif;
    position: relative;
    top: 2vh;
    border: none;
    border-radius: 10px;
    background: rgba(110, 248, 237, 0.8);
    cursor: pointer;
    transition: all 0.4s;
}
.getTheResultsBtn:hover,.getTheResultsBtn:focus{
    filter: brightness(70%);
}
.getTheResultsBtn:focus{
    outline: none;
}
.error-header{
    width: calc(70% - 20px);
    padding: 10px;
    font-size: 2.3em;
    font-family: "Bebas Neue",sans-serif;
    letter-spacing: 0.1em;
}
.error-describe{
    width: calc(60% - 10px);
    padding: 5px;
    font-family: "Oswald",sans-serif;
    font-size: 1.4em;
}
@media screen and (max-width: 700px){
    .paths-wrapper{
        width: calc(100% - 20px);
        .paths-header{
            font-size: 1.1em;
        }
    }
}
@media screen and (max-width: 580px){
    .paths-wrapper{
        .paths{
            padding: 5px 10px;
            width: calc(100% - 20px);
            .number-input{
                width: 20px;
            }
        }
    }
}
@media screen and (max-width: 560px){
    .getTheResultsBtn{
        width: calc(50% - 20px);
    }
}
@media screen and (max-width: 320px){
    .paths-wrapper{
        .paths{
            .number-input{
                font-size: 1.1em;
                width: 10px;
            }
        }
    }
}