.results-container{
    width: calc(80% - 20px);
    padding: 10px;
    text-align: center;
}
.main-header{
    width: calc(90% - 10px);
    padding: 5px;
    font-family: "Oswald",sans-serif;
    font-size: 2.9em;
    letter-spacing: 0.1em;
    margin-bottom: 4vh;
}
.section-starter{
    width: calc(90% - 10px);
    padding: 5px;
    text-align: left;
    text-indent: 1em;
    border-bottom: 1px solid #ddd;
    font-family: "Bebas Neue",sans-serif;
    margin-bottom: 30px;
    font-size: 1.7em;
}
.another-starter{
    margin-top: 40px;
}
.info-wrapper{
    width: calc(100% - 10px);
    padding: 5px;
    text-align: left;
    font-size: 1.2em;
    font-family: "Oswald",sans-serif;
    letter-spacing: 0.08em;
    margin: 7px auto;
}
.go-back-button{
    width: calc(40% - 20px);
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 40px;
}
.breaker{
    display: none;
}
@media screen and (max-width: 750px){
    .results-container{
        width: calc(100% - 20px);
    }
    .main-header{
        font-size: 2.3em;
    }
    .section-starter{
        width: calc(95% - 10px);
        text-indent: 0.7em;
        margin-bottom: 20px;
        font-size: 1.3em;
    }
}
@media screen and (max-width: 660px){
    .info-wrapper{
        font-size: 0.9em;
    }
}
@media screen and (max-width: 547px){
    .breaker{
        display: block;
    }
}
@media screen and (max-width: 425px){
    .main-header{
        font-size: 1.8em;
    }
    .section-starter{
        font-size: 0.9em;
        width: calc(100% - 10px);
        text-indent: 0.5em;
    }
    .info-wrapper{
        font-size: 0.7em;
    }
}